@charset "utf-8";
/* CSS Document */

body { background:url("../images/bg-ipad.jpg") center top no-repeat fixed; font-size: 12px; background-size:100%;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; color: #efefef; line-height: 21px; height:100%; }          
/* body { background: #ff0000;} */