@charset "utf-8";
/* CSS Document */
html,body {	margin:0; padding:0; height:100%; }
html, body, form, fieldset, div, h1, h2, h3, h4, h5, h6{
	margin:0; padding:0; -webkit-text-size-adjust:none; /* This stops the iPhone from automatically changing the size of the text when you flip the phone */
	font-family:Arial,Helvetica, sans-serif;
	}
body { background:url("../images/bg-ipad.jpg") center top no-repeat fixed; font-size: 12px; background-size:100%;
	font-family: Arial,Helvetica, sans-serif; color: #efefef; line-height: 21px; height:100%;         
/*
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
*/
}
ol, ul { list-style: none; font-family: Arial,Helvetica, sans-serif;  }
.map-img{ background:url("../images/image-ipad.png") no-repeat center top; margin-top:100px; min-height:354px; min-width:700px; }
#logo{ background:url(../images/ysi-logo.png) 55% top no-repeat; margin:1% auto 0 auto; min-width:300px; min-:175px; border:0px solid #FFF; }
.login { border:0px solid #FF0000; margin-top:5%;}

#tabs{ border:0px solid #FF0000; width:95%; margin:1% auto;}
.error_msg { border: 1px dashed #FF0000; color:#FF0000; background: #FAFFBD; padding:1%; margin:.5%;}
#small-logo{ background:url(../images/ysi-logo-small.png) no-repeat center center; width:170px;  
	border:0px solid #FFF; float:left; margin-left:1%;}
#welcome-text{ border:0px solid #FFF; float:right; width:50%; padding:7% 1% 0 1%; text-align: right; }

#left-menucontrol { border:0px solid #FFF; float:left; width:20%; margin:.5%; padding:0 5px;}
#right-content { background:url(../images/content-bg.png) repeat left top; border:2px solid #979797; border-radius:10px; float:right; width:75%;
	margin:1% 1% .5% 1%; min-:350px;}
#right-content .pgheader{ background:url(../images/pgheader.png) left top repeat-x; padding:14px; border-top-right-radius:9px;
	border-top-left-radius:9px; overflow:auto; display:block; }
#right-content .pgheader h2{ font-family:Georgia; font-weight:bold; color:#525252; padding:5px; font-size:150%; border:0px solid #000;
	width:75%; float:left;  }
#right-content .area{ padding:10px 15px;}

#left-menucontrol ul.menuctrl{ list-style:none; border:0px solid #03F; margin:0; padding:0;  }
#left-menucontrol li{  margin:8% 0; border-radius:10px; border:0px solid #fff; background:url(../images/menubg1.png) }

#left-menucontrol li a { padding:8px 8px 8px 45px; margin:3% 1%; width:80px; display:block; font-size:125%; color:#fefc52; } 

#left-menucontrol li a.home{ background:url(../images/menu-icons.png) no-repeat 8px 4px;}
#left-menucontrol li a.profile{ background:url(../images/menu-icons.png) no-repeat 8px -38px;}
#left-menucontrol li a.topics{ background:url(../images/menu-icons.png) no-repeat 8px -80px;}
#left-menucontrol li a.post{ background:url(../images/menu-icons.png) no-repeat 8px -123px;}
#left-menucontrol li a.responses{ background:url(../images/menu-icons.png) no-repeat 8px -123px;}
#left-menucontrol li a.settings{ background:url(../images/menu-icons.png) no-repeat 8px -170px;}
#left-menucontrol li a.logout{ background:url(../images/menu-icons.png) no-repeat 8px -213px}

.filterbtn{ border:0px solid #000; display:block; width:15%; float:left; }

.smile{ border:0px solid #0000ff; text-align:center; overflow: auto; display: block; width:480px !important; padding:1% 0;}

/*** ===== Sign up forms =============****/
#frmclass ul.signup{ list-style:none; border:0px solid #0FC; overflow:auto; display:block; }
#frmclass ul.signup li{ 
	float:left; border:0px solid #ff0000;
	width:47.8%; display:block; padding:0;
	overflow:auto; /*min-height:250px;*/

}
#frmclass fieldset { 
	margin: 0; 
	padding: 0;
	border:1px solid #000; 
	border-radius:5px;
} 
#frmclass fieldset label{ 
	color:#000000; width:40%;
	border:0px solid #000; padding:0 5px 0 0; margin:0;
	font-size:90%; font-weight:bold;
	letter-spacing:normal;
}
#frmclass fieldset dt {
	padding:3px 0;
	} 
#frmclass fieldset dd {
	margin:0; padding:0;
	border:0px solid #33F;
	text-align:right;
	} 
#frmclass fieldset dd span{ text-align:center; padding:0 1% 0 20%; font-size:80%; }
#frmclass fieldset input{ 
	border:1px solid #CCC; 
	padding:3px;
	
}
#frmclass fieldset select{
	height:35px; 
	border:1px solid #CCC; 
	padding:3px;
}

#frmclass fieldset .intrestdiv{ margin:0 3%; overflow:auto; display:block; border:0px solid #0C9;}
#frmclass fieldset .intrestdiv h3{ background:#CCC; padding:5px; margin:.5% 0;  }

#frmclass fieldset input[type=checkbox] { padding:0; margin:0;  margin-left:2%; }
#frmclass fieldset input[type=checkbox]:hover {
  background:#999999;
  outline: 0;
}

#frmclass fieldset input[type=submit], input[type=button] {
	width:10%;
	padding:8px; 
	margin:1% 0;
}

/***** ================ *****/
#right-content .area ul.icons{ margin: 0; padding: 0; }
#right-content .area ul.icons li{ float: left; padding: 1%; text-align: center; }

/***** ====================== *******/
.response-main { border: 0px solid #ff0000; overflow: auto; display: block; padding: 1% 0;}
.response-main .last-respose { border: 3px solid #efefef; border-radius:10px; width: 20%; float: left; text-align: center; padding: 1% 0; min-height: 120px;}
.response-main .overall-respose { border: 3px solid #efefef; border-radius:10px; width:75%; float:right; text-align: center; padding: 1% 0; min-height: 120px; }
.response-main .overall-respose .each-response {border:0px solid #ff0000; overflow: auto; display: block; width:18%; float:left; padding:.5% 1%; text-align:center; font-weight:bold; }

#responses-div { border-bottom:1px dashed #414141; overflow: auto; padding:5px 0;}
#responses-div ul{ margin:0; padding:0; border:0px solid #ff0000; display: block; overflow: auto; }
#responses-div li.response-text{ border:0px solid #414141; float:left; width:86%; padding:5px;}
#responses-div li.response-icons{ border:0px solid #414141; float:right; padding:5px; }


/***** ========= topics ============= *******/
.place-vote {background:url(../images/placevotebg.png) no-repeat 8px; padding:4% 0 4% 8%; border:0px solid #ff0000; color: #414141; font-size: 15px; font-weight: bold; display: block; margin-top: 5%; }
.topics-main { border: 0px solid #ff0000; overflow: auto; display: block;}
.topics-main .report-v { border:0px solid #efefef; width:30%; float: left; padding-top:.5%;   }
.topics-main .report-v input.report-btn{
	width:60%; 
	font-size:90%; 
	padding:4px; 
	margin:1% 0; }
.topics-main .skip { border:0px solid #efefef; width:20%; float:right; }
.topics-main .skip  input.report-btn{
	width:100%; 
	padding:8px; 
	margin:1% 0;
}
.topics-main .overall-respose { border: 3px solid #efefef; border-radius:10px; width:50%; float:right; text-align: center; padding: 1% 0; min-height: 120px; }
.topics-main .overall-respose .each-response {border:0px solid #ff0000; overflow: auto; display: block; width:15%; float:left; padding:.5% 2%; text-align:center;}

.topic-title { border: 0px solid #efefef; width:98%; padding: 1% 0; font-weight: bold; font-size:120%; line-height:150%; } 
.topic-details { border: 0px solid #efefef; width:98%; text-align: center; padding:1% 0; overflow: auto; }
.topic-details ul{ padding: 0; margin: 0; }
.topic-details li{ padding: 0; margin: 0; float: left; margin:0 3%; padding: 1%; }



/*** ===== Profile page  =============****/
#profilepage ul.profiledit{ list-style:none; border:0px solid #0FC; overflow:auto; display:block; }
#profilepage ul.profiledit li{ 
	float:left; border:0px solid #999;
	width:47.8%; display:block; padding:0;
	overflow:auto; min-height:250px;

}
#profilepage fieldset { 
	margin: 0; 
	padding: 0;
	border:0px solid #000; 
	border-radius:5px;
} 
#profilepage fieldset label{ 
	color:#000000; width:40%;
	border:0px solid #000; padding:0 5px 0 0; margin:0;
	font-size:90%; font-weight:bold;
	letter-spacing:normal;
	color:#FEFC52;
}
#profilepage fieldset dt {
	padding:3px 0;
	} 
#profilepage fieldset dd {
	margin:0; padding:0;
	border:0px solid #33F;
	text-align:right;
	} 
#profilepage fieldset dd span{ text-align:center; padding:0 1% 0 20%; font-size:80%; }
#profilepage fieldset input{ 
	border:1px solid #CCC; 
	padding:3px;
}
#profilepage fieldset select{
	width:59%; height:35px; 
	border:1px solid #CCC; 
	padding:3px; 
}

#profilepage fieldset input[type=checkbox] { padding:0; margin:0;  margin-left:2%; }
#profilepage fieldset input[type=checkbox]:hover {
  background:#999999;
  outline: 0;
}

#profilepage fieldset input[type=submit], input[type=button] {
	width:15%;
	padding:8px; 
	border-radius:5px;
	margin:1% 0;
}
/***** ================ *****/
/***** ========Invite Frinds======== *****/
#invite-frds label {
	font-size: 15px;
	font-weight: 300;
	width:20%;
	border:0px solid #0000ff;
		
}
#invite-frds input[type=text] {
	width:61%;
	padding:10px !important;
/*  width: 250px;*/
	color: #525252;
	border: 0;
	border-radius: 5px;
}

#invite-frds textarea{
	width:60%; 
	padding:7px 3px; 
}
/***** ========Invite Frinds======== *****/
/***** ======== Catcha Code ======== *****/
.catcha-div { border:3px double #c2c2c2; overflow:auto; display:block; padding:2% 0; border-radius:10px; margin:1% 5%;    }
.catcha-div ul.catchacode { border:0px solid #0000ff; overflow:auto; display:block; width:95%;}
.catcha-div ul.catchacode li { border:0px solid #ff0000; float: left; }
.catcha-div ul.catchacode li.valuetxt { border:0px solid #ff0000; width:63%; }
.catcha-div .catcha-box{ width:25% !important; border:0px solid #00dd00; text-transform:lowercase;}
.catcha-div .code { width:28%; }

/***** ======== Catcha Code ======== *****/


/***** ======== top topics ======== *****/
#top-topics{ overflow: auto; display: block; border:0px solid #efefef; }
#top-topics h3{ padding:5px 0; color: #FEFC52; font-weight: bold;  }
#top-topics-new { border-bottom:0px solid #efefef; overflow: auto; }
#top-topics-new ul{ margin:0; padding:0; border:0px solid #ff0000; display: block; overflow: auto; }
#top-topics-new li.tp-text{ border:0px solid #999; float:left; width:92%; padding:5px; list-style:inside url("../images/white_arrow_right.png");}
#top-topics-new li.tp-icons{ border:0px solid #999; float:right; list-style: none;}



/*** ========== Button styles ===============******/
.filterbtn{ border:0px solid #000; display:block; width:22%; float:right; height:35px; margin-top: 5px; }
.a_demo_three {
	background-color:#414141;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size:14px; letter-spacing:1px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:5px 15px;
	max-height:23px;
	border-left:solid 1px #414141;
	margin-left:35px;
	background-image: linear-gradient(bottom, rgb(142,142,142) 0%, rgb(124,124,124) 100%);
	background-image: -o-linear-gradient(bottom, rgb(142,142,142) 0%, rgb(124,124,124) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(142,142,142) 0%, rgb(124,124,124) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(142,142,142) 0%, rgb(124,124,124) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(142,142,142) 0%, rgb(124,124,124) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(142,142,142)),
	color-stop(1, rgb(124,124,124))
	);
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #6e6e6e, 0px 5px 0px 0px #434343, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #6e6e6e, 0px 5px 0px 0px #434343, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #6e6e6e, 0px 5px 0px 0px #434343, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #6e6e6e, 0px 5px 0px 0px #434343, 0px 10px 5px #999;
}

.a_demo_three:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(124,124,124) 0%, rgb(142,142,142) 100%);
	background-image: -o-linear-gradient(bottom, rgb(124,124,124) 0%, rgb(142,142,142) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(124,124,124) 0%, rgb(142,142,142) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(124,124,124) 0%, rgb(142,142,142) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(124,124,124) 0%, rgb(142,142,142) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(124,124,124)),
	color-stop(1, rgb(142,142,142))
	);
	-webkit-box-shadow: inset 0px 1px 0px #6e6e6e, 0px 2px 0px 0px #434343, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #6e6e6e, 0px 2px 0px 0px #434343, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #6e6e6e, 0px 2px 0px 0px #434343, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #6e6e6e, 0px 2px 0px 0px #434343, 0px 5px 3px #999;
}

.a_demo_three::before {
	background-color:#414141;
	content:url(../images/filter.png);
	padding:6px 12px 0px 10px;
	max-height:22px;
	height:100%;
	position:absolute;
	display:block;
	top:0px;
	left:-36px;
	text-shadow:1px 1px 0px #2a2f31;
	border-right:solid 1px #2a2f31;
	background-image: linear-gradient(bottom, rgb(68,68,68) 0%, rgb(109,109,109) 100%);
	background-image: -o-linear-gradient(bottom, rgb(68,68,68) 0%, rgb(109,109,109) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(68,68,68) 0%, rgb(109,109,109) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(68,68,68) 0%, rgb(109,109,109) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(68,68,68) 0%, rgb(109,109,109) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(68,68,68)),
	color-stop(1, rgb(109,109,109))
	);
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-box-shadow:inset 0px 1px 0px #6e6e6e, 0px 5px 0px 0px #333, 0px 10px 5px #999 ;
	-moz-box-shadow:inset 0px 1px 0px #6e6e6e, 0px 5px 0px 0px #333, 0px 10px 5px #999 ;
	-o-box-shadow:inset 0px 1px 0px #6e6e6e, 0px 5px 0px 0px #333, 0px 10px 5px #999 ;
	box-shadow:inset 0px 1px 0px #6e6e6e, 0px 5px 0px 0px #333, 0px 10px 5px #999 ;
}

.a_demo_three:active::before {
	top:-3px;
	-webkit-box-shadow:inset 0px 1px 0px #6e6e6e, 0px 5px 0px 0px #333, 1px 1px 0px 0px #393939, 2px 2px 0px 0px #393939, 2px 5px 0px 0px #393939, 6px 4px 2px #535353, 0px 10px 5px #999 ;
	-moz-box-shadow:inset 0px 1px 0px #6e6e6e, 0px 5px 0px 0px #333, 1px 1px 0px 0px #393939, 2px 2px 0px 0px #393939, 2px 5px 0px 0px #393939, 6px 4px 2px #535353, 0px 10px 5px #999 ;
	-o-box-shadow:inset 0px 1px 0px #6e6e6e, 0px 5px 0px 0px #333, 1px 1px 0px 0px #393939, 2px 2px 0px 0px #393939, 2px 5px 0px 0px #393939, 6px 4px 2px #535353, 0px 10px 5px #999 ;
	box-shadow:inset 0px 1px 0px #6e6e6e, 0px 5px 0px 0px #333, 1px 1px 0px 0px #393939, 2px 2px 0px 0px #393939, 2px 5px 0px 0px #393939, 6px 4px 2px #535353, 0px 10px 5px #999 ;
}

/*======= Filter Classes ====================*/

#main_div_filter{
	border:0px solid #000;
	display:block;
	overflow:auto;
	padding:1% 0; 
}

#main_div_filter ul.filter-list{
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow:auto;
	font: 12px 'Tahoma';
}
#main_div_filter ul.filter-list li {
	float: left;
	margin: 0;
	padding:0 1.1%;
	margin-left: 5px;
	font-weight: bold;
	line-height: 30px;
}
#main_div_filter ul.filter-list select{ width:95%; }

#main_div_filter ul.filter-list input, button{ width:80px; height:28px; padding:7px; margin:0; color: #414141; font:bold 13px arial;  }

#main_div_filter ul.filter-list li.bycountry {
	border:0px solid #0000ff;
	width:30%;
}
#main_div_filter ul.filter-list li.bycountry select{
	width:80%;
}
#main_div_filter ul.filter-list li.bycountry a{
	border:0px solid #0000ff;
	width: 25px;
	display: block;
	float: right;
}
#main_div_filter ul.filter-list li.bycategory {
	border:0px solid #0000ff;
	width:19%;
	font-weight:bold; 
}
#main_div_filter ul.filter-list li.bymost {
	border:0px solid #0000ff;
	width:23%;
}
#main_div_filter ul.filter-list li.view-all {
	border:0px solid #ff0000;
	width:13%;
	padding-top:28px;
}

/******=========== pagination styles ===============***********/
ul.main-pagination{
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow:auto;
	border-top:3px double #efefef;
	margin-top: 10px;
	padding-top: 5px;
}
ul.main-pagination li {
	float: left;
	margin: 0px;
	padding:0px;
	margin-left: 5px;
}
ul.main-pagination li.pgno {
	margin: 0px;
	padding:1.5% 0;
	border:0px solid #ff0000;
	width:17%;
	font-weight:bold; 
	text-align:center;
}
ul.main-pagination li.pagination-nos {
	margin:0px auto;
	padding:5px 0px;
	border:0px solid #0000ff;
	width:57%;
	text-align:center;
}
.page_no_div{ border:0px solid #ff0000; margin:2px auto; width:85%;}
ul.main-pagination li.jump-pgno {
	margin: 0px;
	padding:5px 0px;
	border:0px solid #0000ff;
	width:25%;
	text-align:right;
	font-weight:bold;
}
/******* =============================== *****************/
ul.pagination {
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow: hidden;
	list-style-type: none;
}
ul.pagination li {
	float: left;
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
	margin-top: 5px;
}
ul.pagination li:first-child {
	margin-left: 0px;
}
ul.pagination li a {
	color: black;
	display: block;
	text-decoration: none;
	padding: 2px 8px;
}
ul.pagination li a img {
	border: none;
}
ul.paginationI1 li a {
	color: #ffffff;
	border-radius: 4px;
	border: 1px solid #FEFC52;
	background: #414141;
	background: -moz-linear-gradient(top, #414141, #828282);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#414141), to(#828282));
}
ul.paginationI1 li a.current, ul.paginationI1 li a:hover {
	color: #000000;
	background: #a4c855;
	background: -moz-linear-gradient(top, #FFFFFF 1px, #a4c855 1px, #ccea89);
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #FFFFFF), color-stop(0.02, #a4c855), color-stop(1, #ccea89));
}
